@import '../../styles/variables';

.gpt3__footer{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background: $color-footer;

    .gpt3__footer-heading{
        width:100%;
        text-align: center;
        margin-bottom: 3rem;
        h1{
            font-family: $font-family;
            font-weight: 800;
            font-size: 62px;
            line-height: 75px;
            text-align: center;
            letter-spacing: -0.04em;
        }
    }
    .gpt3__footer-button{
        display:flex;
        justify-content:center;
        align-items:center;
        padding:1rem;
        border: 1px solid #FFFFFF;
        text-align:center;
        margin-bottom: 10rem;
        cursor:pointer;
        p{
            font-family: $font-family;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            box-sizing: border-box;
            word-spacing: 2px;
    
        }        
    } 

    .gpt3__footer-links{
        display:flex;
        justify-content:space-between;
        align-items:flex-start;
        flex-wrap:wrap;
        flex-direction:row;
        width:100%;
        text-align:left;

        div{
            width:250px;
            margin:1rem;
        }
        .gpt3__footer-links_logo{
            display:flex;
            flex-direction:column;
            p{
                margin-top:1rem;
                font-family: $font-family;
                font-size: 12px;
                line-height: 14px;

                color: #FFFFFF;
            }
        }
        .gpt3__footer-links_div{
            display:flex;
            justify-content:flex-start;
            flex-direction:column;
            h4{
                font-family: $font-family;
                font-size: 14px;
                line-height: 16px;
                margin-bottom:1rem;
                color: #FFFFFF;
            }
            p{
                font-family: $font-family;
                font-size: 12px;
                line-height: 14px;
                margin: 0.5rem 0;
                cursor: pointer;
                color: #FFFFFF;
            }
        }
    }
    .gpt3__footer-copyright{
        margin-top:2rem;
        text-align: center;
        width:100%;
        p{
            font-family: $font-family;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
        }
    }
}

@import '../../styles/config';

@include mediaLg{
    .gpt3__footer-heding h1{
        font-size: 44px;
        line-height: 50px;;
    }
}
@include mediaSm{
    .gpt3__footer-heding h1{
        font-size: 27px;
        line-height: 38px;;
    }
    .gpt3__footer-links div{
        margin:1rem 0;
    }
    .gpt3__footer-button{
        font-size: 14px;
        line-height:20px;
    }
}